[submodule "lvgl"]
	path = lvgl
	url = https://github.com/lvgl/lvgl.git
	branch = release/v9.1
[submodule "ntshell"]
	path = ntshell
	url = https://github.com/chiabrian/ntshell.git
[submodule "CMSIS-DSP"]
	path = CMSIS-DSP
	url = https://github.com/ARM-software/CMSIS-DSP.git
