[submodule "ntshell"]
	path = ntshell
	url = https://github.com/chiabrian/ntshell.git
[submodule "CMSIS-DSP"]
	path = CMSIS-DSP
	url = https://github.com/ARM-software/CMSIS-DSP.git
[submodule "lvgl"]
	path = lvgl
	url = https://github.com/lvgl/lvgl.git
	branch = release/v9.2
[submodule "FreeRTOS"]
	path = FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
